.long-text {
    width: 7em;
}

.short-text {
    width: 3em;
}

.np-guage {
    width: 7em;
}

.flexbox {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.flex-item {
    margin-left: 10px;
}

.no-marker {
    list-style-type: none;
}

.servant {
    margin: 20px auto;
}

$starting-color: #f0f0ff;
.starting {
    background-color: $starting-color;
}

$sub-color: #f0f0f0;
.sub {
    background-color: $sub-color;
}

.number {
    display: inline;
}
